# core libs
###############################################
PyYAML
cachetools
psutil
py-itree
urllib3
requests
rich

# basic libs
###############################################
#py-zipkin
#tqdm
#matplotlib
#numpy
#prometheus-client
#fastapi, uvicorn, pandas, Jinja2
#flask
