# core libs
###############################################
PyYAML
cachetools
psutil
py-itree
asgi-correlation-id
urllib3

# basic libs
###############################################
#py-zipkin
#tqdm
#matplotlib
#numpy
#prometheus-client
#fastapi, uvicorn, pandas
#flask