<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@4/swagger-ui.css">
    <link rel="shortcut icon" href="https://fastapi.tiangolo.com/img/favicon.png">
    <title>HIQ UI</title>
</head>

<body _c_t_common="1" cz-shortcut-listen="true" _c_t_j1="1" data-new-gr-c-s-check-loaded="14.1085.0"
      data-gr-ext-installed="">
<div id="swagger-ui">
    <div class="swagger-ui">
        <div>
            <div class="information-container wrapper">
                <section class="block col-12">
                        <div class="info">
                            <hgroup class="main">
                                <h2 class="title">Latency Report<span><small><pre class="version">HiQ</pre></small><small class="version-stamp">v{hiq_version}</small></span></h2>
                                <a target="_blank" href="/docs" rel="noopener noreferrer" class="link">
                                    <span class="url"> API </span>
                                </a> |
                                <a target="_blank" href="/hiq" rel="noopener noreferrer" class="link">
                                    <span class="url"> HiQ </span>
                                </a>
                                <br>
                            </hgroup>
                        </div>
                </section>
            </div>
            <div class="wrapper">
                <section class="block col-12 block-desktop col-12-desktop">
                    <div>
                        <span>
                            <div class="opblock-tag-section">
                                <h3 class="opblock-tag no-desc" id="operations-tag-default">
                        <span>Request ID: {req_id}</span></h3><noscript></noscript>
                            </div>
                        </span>
                        <pre style="font-size:11px">{latency}</pre>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

</body>
</html>